@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .card-gradient {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.05) 100%
      ),
      linear-gradient(
        141.07deg,
        rgba(57, 116, 220, 0) 44.69%,
        rgba(2, 107, 236, 0.1) 65.47%,
        rgba(9, 110, 177, 0.1) 85.93%,
        rgba(31, 164, 217, 0.1) 100%
      );
  }
  .link-hover {
    @apply relative w-fit block after:block after:content-[''] after:absolute after:-bottom-2 after:h-[1px] after:bg-gradient-to-r from-transparent via-blue-600 to-transparent after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
  }
  .text-gradient-card {
    background: linear-gradient(
      90.56deg,
      #3974dc 0%,
      #096eb1 36.48%,
      #026bec 66.12%,
      #1fa4d9 99.83%
    );
  }
  .btn-gradient-card {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  .btn-talk-mobile {
    background: linear-gradient(
      90.56deg,
      #1fa4d9 0%,
      #096eb1 36.48%,
      #026bec 66.12%,
      #3974dc 99.83%
    );
  }

  .tech-stack-gradient {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.05) 100%
      ),
      linear-gradient(
        141.07deg,
        rgba(57, 116, 220, 0) 44.69%,
        rgba(2, 107, 236, 0.1) 65.47%,
        rgba(9, 110, 177, 0.1) 85.93%,
        rgba(31, 164, 217, 0.1) 100%
      );
  }
}
